[project]
	description = Provide the basic common guidelines for the IronMan Project.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/David Pineau (DavidPineauScality)
[access "refs/for/refs/*"]
	read = group user/David Pineau (DavidPineauScality)
	push = group user/David Pineau (DavidPineauScality)
	label-Code-Review = -2..+2 group user/David Pineau (DavidPineauScality)
	label-Verified = -1..+1 group user/David Pineau (DavidPineauScality)
	rebase = group user/David Pineau (DavidPineauScality)
	removeReviewer = group user/David Pineau (DavidPineauScality)
	submit = group user/David Pineau (DavidPineauScality)
[access "refs/heads/*"]
	read = group user/David Pineau (DavidPineauScality)
	create = group user/David Pineau (DavidPineauScality)
	push = +force group user/David Pineau (DavidPineauScality)
	pushMerge = group user/David Pineau (DavidPineauScality)
[access "refs/tags/*"]
	push = +force group user/David Pineau (DavidPineauScality)
	pushTag = group user/David Pineau (DavidPineauScality)
	pushSignedTag = group user/David Pineau (DavidPineauScality)
